<!doctype html>
<html>
   <head>
      <meta name="layout" content="default_layout"/>
      <r:require module="core"/>
   </head>
   <body>
      	
	<section id="main">
			<article class="gbox">
				<h1>Login</h1>
					<form class="fieldtype1">
						<fieldset>
							<label for="username">Usuario: </label>
							<input type="text" name="username" class="text"/>	
						</fieldset>
						<fieldset>
							<label for="password">Senha: </label>
							<input type="password" name="password" class="text" />	
						</fieldset>
						
						<input type="submit" value="Entrar" class="botao1" />
					</form>			
			</article>
	</section>
   </body>
</html>