@import "../css/reset.css";
@import "elements.less";
@font-face {  font-family: titleFont ;  src: url( '../fonts/AHundredMiles.ttf' ); }
@font-face {  font-family: face2 ;  src: url( '../fonts/abeatbyKaiRegular.otf' ); }

/*Colors*/
@darkGreen:#006400;
@orange:#F90;

/*Fonts*/
@face2: face2;
@defaultFont: sans-serif;
@formFont: Verdana;

body{ .bw-gradient(#EEE , 190 , 255);  background-attachment: fixed;  background-repeat: no-repeat;}

header#header{ background:@darkGreen; color: #FFF; height: 40px; margin-bottom: 100px;
	
	section { width: 800px; margin: 0 auto;
		
			#title {width: 200px; font-family: @defaultFont; font-size: 28px; margin-right: 20px; float: left;}
			
			nav { float: left;
						
				ul{	li {display: inline;
																 					
						a {	font: 22px @face2; .black-opacity(0.3); text-decoration: none; padding: 3px 15px; margin: 10px 5px; color: #FFF; .border-radius(0px , 5px , 5px , 0px);	.transition(0.9s);
    							&:hover { padding-right: 80px;	background: #32CD32; .transition(0.9s);	}												
						}
					}						
				}
			}
		}
}


#main { width: 800px; margin: 0 auto;}

.gbox { width:80%; height: 200px; margin: 0 auto; background: #FFF; .box-shadow(3px 5px 8px #CCC); .rounded(8px);
	
	h1 { background: @darkGreen; font: 20px @defaultFont; color: #FFF; .border-radius(8px , 0px , 0px , 8px);text-indent: 30px;padding: 5px 0px;}
	
	
	form {font:17px @formFont;width: 80%; margin: 0 auto;
	
		fieldset {
			margin: 10px auto;
			label { border-left: 2px solid @darkGreen; 	text-indent: 5px;}
			input:not([type=submit]) { &:focus {.rounded(2px); .box-shadow(2px 2px 5px @orange); .transition(0.4s);}  .transition(0.4s); }		
		}
		input[type=submit]{	margin-top: 30px; }
	}
}

 /*	types */
.fieldtype1 { fieldset {width: 60%;} 
			label {width: 30%; float: left;}
			input:not([type=submit]){width: 60%; float: right;}}

.fieldtype2 {width: 90%;
            fieldset {width: 90%;}			label {width: 30%;}
			input:not([type=submit]) {width: 60%; }}

.boxtype1{ width: 40%; height: 300px; float: left;margin-right: 20px;}

.botao1{ width:100px;
		background: @darkGreen; 
		color: #FFF; 
		font:18px @formFont;
		.rounded(15px); 
		padding: 5px 5px; 
		cursor: pointer;
		.transition(0.9s); 
			&:hover {background: #F90;.rounded(8px);.transition(0.5s);}}

.text{ margin:5px; border: 2px solid #CCC;}