<header id="header">
		<section>
			<span id="title"> Money Talks </span>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Perfil</a></li>
				</ul>
			</nav>
		</section>
</header>